@font-face{
	@font-face {
				font-family: 'loveya';
				src: url('../../fuentes/loveya.eot'); /* IE9 Compat Modes */
				src: url('../../fuentes/loveya.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('../../fuentes/loveya.woff') format('woff'), /* Modern Browsers */
				url('../../fuentes/loveya.ttf') format('truetype'), /* Safari, Android, iOS */
				url('../../fuentes/loveya.svg#love_ya_like_a_sisterregular') format('svg'); /* Legacy iOS */
			}
}
body{
background-image: url(../../imagenes/fondo_escher2.jpg);
font-size: 20px;
font-family: 'loveya';
}
div{
			    background-color:#ECF6CB;
			    padding: 40px;
			    margin: 70px;
			}
			
		    h1 {
                color:#A2473E;
               text-align:center;
                font-size: 3em;
            }
            
            .imagen{
                width: 400px;
                margin-left: auto;
                margin-right: auto;
            }
            
			.biografia{
			    color:#ECF6CB;
			    background-color:#A2473E;
			    text-align:justify;
			    font-size:1em;
			    width: 600px;
			    padding: 20px;
			    margin: 0 auto;
			    opacity: 0.9;´
			}